header{
        h1{
            cursor: pointer;
            padding-left: 0.75rem;
            padding-top:0.75rem;
            font-size:1.75rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
        z-index: 5;
        position: fixed;
        background-color: #121e2d;
        width: 100%;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
        font-family: "Rubik", sans-serif;
        display: flex;
        justify-content: center;
        nav{            
        padding-inline: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 1400px;
        width: 100%;
        
        ul{
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: flex-end;
            li{
                padding-inline: 20px;
                font-weight: 600;
                padding-block: 25px;
                a{
                    padding-block: 25px;
                    text-decoration: none;
                    color: white;
                    padding-block: 25px;
                    padding-inline: 20px;
                }
                &:hover{
                    border-bottom:2px solid white;
                    padding-bottom: 23px;
                }
            }
    
        }
        .dropdown{
            position: relative;
            color: white;
            font-weight: 600;
            cursor: pointer;
            
        }
    
        .dropdownList {
            margin-top: 5px;
            position: absolute;
            top:100%;
            left: -10px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            background-color: white;
            padding: 10px;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
        }
          
        .dropdownList li {
            padding: 8px;
            cursor: pointer;
            color: #484848;
            font-weight: 600;
        }
          
        .dropdownList li:hover {
            //background-color: #f1f1f1;
            color: #070000;
        }
        
        .menu-btn{
            display:none;
        }
    }
}
@media screen and (max-width:600px){
    
header{
    position: relative;
    height: fit-content;
    h1{
        font-size: 1.75rem;
    }
    nav {
        flex-direction: column;
        padding:0;
        ul {
            display: none;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0.25rem;
            li {
                width: 100%;
                text-align: center;
            }
            li:hover{
                border-bottom: none;
            }
        }
        
        .menu-btn{
            position:absolute;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: 3.45rem;
            right:0;
            top:-1.85rem;
        }
    }
    .open {
        display: flex;
        padding:0;
        padding-top:2.5rem;
        left:50%;
        transform: translate(-20%,0);
            
        }
}}