header{
        h1{
            cursor: pointer;
            a{
                color: white;
                text-decoration: none;
            }
        }
        z-index: 5;
        position: fixed;
        background-color: #121e2d;
        width: 100%;
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
        font-family: "Rubik", sans-serif;
        display: flex;
        justify-content: center;
        nav{
            
        padding-inline: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        width: 100%;
        ul{
            font-weight: 400;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            align-items: center;
            li{
                padding-inline: 20px;
                font-weight: 600;
                padding-block: 25px;
                a{
                    padding-block: 25px;
                    text-decoration: none;
                    color: white;
                }
                &:hover{
                    border-bottom:2px solid white;
                    padding-bottom: 23px;
                }
            }
    
        }
        .dropdown{
            position: relative;
            color: white;
            font-weight: 600;
            cursor: pointer;
            
        }
    
        .dropdownList {
            margin-top: 5px;
            position: absolute;
            top:100%;
            left: -10px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            background-color: white;
            padding: 10px;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
        }
          
        .dropdownList li {
            padding: 8px;
            cursor: pointer;
            color: #484848;
            font-weight: 600;
        }
          
        .dropdownList li:hover {
            //background-color: #f1f1f1;
            color: #070000;
        }
    
    }
}