nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.1);
    align-items: center;
    font-family: "Rubik", sans-serif;
    ul{
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        li{
            padding-inline: 20px;
        }
    }
    h1{
        margin-left: 30px;
    }
    .dropdown{
        margin-right: 30px;
        position: relative;
    }
    .dropdownContent{
        margin-top: 5px;
        position: absolute;
        top:100%;
        left: -10px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        background-color: white;
        padding: 10px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
        p{
            margin-block: 5px;
        }
    }
}